{% extends 'base.html' %}

{% block content %}
<h2>My Recipes</h2>
<ul>
    {% for recipe in recipes %}
    <li>
        <strong>Title:</strong><br>{{ recipe.title }}<br>
        <strong>Ingredients:</strong><br>{{ recipe.ingredients }}<br>
        <strong>Description:</strong><br>{{ recipe.description }}<br>
        <strong>Instructions:</strong><br>{{ recipe.instructions }}<br>

        <form action="{% url 'delete_recipe' recipe.id %}" method="POST"
            onsubmit="return confirm('Are you sure you want to delete this recipe?');">
            {% csrf_token %}
            <button type="submit">Delete</button>
        </form>
    </li>
    <hr>
    {% endfor %}
</ul>
{% endblock %}