{% extends 'base.html' %}

{% block content %}
<h2>Upload Recipe</h2>
<form id="upload-recipe-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}

    <h4>Upload Food Photos:</h4>
    {{ photo_formset.management_form }} <!-- Management form for the formset -->
    {% for form in photo_formset %}
    <div class="photo-upload">
        {{ form.image.label }} {{ form.image }}<br>
    </div>
    {% endfor %}

    <button id="upload-recipe-button" type="submit">Upload</button>
</form>
{% endblock %}